
@{
    ViewBag.Title = "Azure Service Bus Topic Example";
}

<h2>Generate some messages</h2>

<form method="post" action="/">
    <button class="btn" id="sendten" type="submit">Send 10 Messages</button>
</form>
